[defaults]

#callback_whitelist = profile_tasks
interpreter_python = /bin/python3.8
callback_enabled = True
forks = 10
host_key_checking = False
inventory = inventories/ec2
retry_files_enabled = False
remote_user = ansible
log_path = ~/ansible.log
